@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Rubik:wght@300&display=swap");

html{
  font-size: 16px;
}

body {
  color: #333;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 8px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  font-family: "Rubik", sans-serif;
}
p{
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}


